@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

@font-face {
    font-family: Butler_Stencil;
    src: url(assets/font/Butler_Stencil_Webfont/ButlerStencil-Bold.woff);
}

@font-face {
    font-family: Butler_Stencil;
    src: url(assets/font/Butler_Stencil_Webfont/ButlerStencil.woff);
    font-weight: normal;
}

@font-face {
    font-family: Butler;
    src: url(assets/font/Butler_Webfont/Butler-Bold.woff);
}

$line-height: 60px;
$line-height-abs: -60px;
$bullet-size: 14px;
$offset: 200px;

* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    user-select: none;
}

ul {
    list-style: none;
}

a {
    color: black;
    text-decoration: none;
}

h1 {
    font-size: 4em;
    font-family: "Butler_Stencil", serif;
}

h2 {
    font-size: 16px;
    font-weight: 500;
}

button {
    background-color: black;
    color: white;
    border-radius: 0px;
    width: 180px;
    height: 50px;
    margin: 30px 0 0 0;

    &::after {
        content: "\2192";
        margin-left: 5px;
        transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
    }

    &:hover {
        cursor: pointer;
        &::after {
            margin-left: 10px;
        }
    }
}

header {
    display: flex;
    align-items: center;
    width: 100%;
    height: 10%;
    margin-top: auto;
}

nav {
    margin-left: auto;

    li {
        position: relative;
        display: inline-block;
        padding-left: 15px;
        cursor: pointer;
        overflow: hidden;
        &:hover {
            .base {
                transform: translate(0, 100%);
            }
            .default {
                transform: translate(0, 100%);
            }
        }
    }

    span {
        display: block;
    }
}

.border {
    border: 1px solid black;
}

.container {
    width: 60vw;
    margin: 0 auto;
    overflow-x: hidden;
}

.tlcontainer {
    width: 60vw;
    margin: 0 auto;
    overflow-x: hidden;
}

.transition {
    transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
}

.transition2 {
    transition: all 1s cubic-bezier(0.23, 1, 0.32, 1);
}

.transition3 {
    transition: all 1.5s ease-in-out;
}

.base {
    transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
}

.fpVisible {
    opacity: 1!important;
    transform: translateX(0px)!important;
}

.visible {
    opacity: 1!important;
}

.default {
    font-weight: 700;
    position: absolute;
    top: -100%;
    transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
}

.hover {
    position: absolute;
    top: 0;
    color: red;
    opacity: 0;
}

// Scroll
.scroll-indicator {
    position: absolute;
    left: 0;
    bottom: 0px;

    .scroll {
        width: 2px;
        height: $line-height;
        position: relative;
        overflow: hidden;

        .scroll-line {
            width: 100%;
            height: 100%;
            display: block;
            background: linear-gradient(to bottom, rgba(4, 15, 48, 1) 50%, rgba(4, 15, 48, 0) 50%);
            background-position: 0 $line-height-abs;
            background-size: 100% 200%;
            animation: scrolldown 2s cubic-bezier(0.76, 0, 0.3, 1) forwards infinite;
        }
    }
}

.projectCard {
    text-align: center;
    position: relative;
    opacity: 0;
    transition: transform 3s cubic-bezier(0.23, 1, 0.32, 1), opacity 3s cubic-bezier(0.23, 1, 0.32, 1);
    margin: 50px;

    p {
        font-size: 14px;
    }

    .projectImage {
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        position: absolute;
        margin: auto;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        opacity: 0;
    }

    h1 {
        display: inline-block;
        opacity: 0.7;

        a {
            font-family: "Butler", serif;
        }

        &:hover {
            opacity: 1;
            cursor: pointer;
        }
    }
}

.section-header {
    font-size: 1.1rem;
    margin: -30px 0 30px 0;
}

.timeline {
    position: relative;
    display: flex;
    flex-direction: column;
    max-width: 100%;

    &::after {
        content: "";
        position: absolute;
        width: 1px;
        background-color: black;
        top: 0;
        bottom: 0;
        left: 50%;
    }
}

.tlCard {
    position: relative;
    width: 50%;
    margin: 30px 0;

    &::after {
        content: "";
        position: absolute;
        width: $bullet-size;
        height: $bullet-size;
        right: -8px;
        background-color: black;
        top: 45%;
        z-index: 1;
    }
}

.year {
    font-family: Butler;
    text-align: center;
    padding: 30px;
    font-size: 7em;
    font-weight: normal;
}

.content {
    width: 70%;
    padding: 30px 30px;
    position: relative;
    box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.2);

    & > div {
        h2 {
            display: inline;
            font-size: 0.9em;
            font-weight: 600;
        }

        & h2:last-child {
            color: gray;
            float: right;
            font-weight: 400;
        }
    }

    p {
        font-size: 0.9em;
        font-weight: 300;
        padding: 10px;
    }

    a {
        font-size: 0.9em;
        opacity: 0.7;
        display: block;
        text-align: right;

        &:hover {
            opacity: 1;
        }
    }

    ul li {
        font-size: 0.9em;
        padding: 0px 5px;
        display: inline-block;
    }
}

.react {
    color: #61dbfb;
}

.redux {
    color: #764abc;
}

.javascript {
    color: #f0db4f;
}

.gsap {
    color: rgb(30, 175, 30);
}

.rlang {
    color: #165CAA;
}

.three {
    color: rgb(126, 185, 252);
}

.node {
    color: #68A063;
}

.photoshop {
    color: #8bc3fc;
}

.csharp {
    color: indigo;
}

.p5js {
    color: rgb(255, 43, 96);
}

.firebase {
    color: #FFA000;
}

.left {
    left: 0;
}

.right {
    left: 50%;

    .content {
        margin-left: auto;
    }

    &::after {
        left: -$bullet-size/2;
    }
}

#home {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#logo {
    background-image: url("assets/logo_v2.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 60px;
    height: 60px;
}

#introduction {
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 100px;

    h1 {
        font-size: 6em;
    }

    p {
        font-weight: 300;
        line-height: 1.5em;
        color: #999;
    }

    div {
        margin-top: -100px;
        padding: 30px;
    }
}

#role {
    color: black;
}

#school {
    color: #4b2e83;
}

#bottom {
    position: relative;
    margin-top: auto;
    height: 10%;
    width: 100%;

    span {
        font-size: 14px;
    }
}

#hand {
    display: inline-block;
    animation: wave 10s cubic-bezier(0.76, 0, 0.3, 1) forwards infinite;
}

#featured {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;

    & > div:nth-child(even) {
        transform: translateX($offset);
    }

    & > div:nth-child(odd) {
        transform: translateX(-$offset);
    }
}

#feature-header {
    opacity: 0;
}

#vocaby {
    width: 170px;
    height: 170px;
    background-size: contain;
    z-index: -100;
    background-image: url("assets/projects/vocaby_logo_large.png");
    filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.3));
}

#vision {
    width: 200px;
    height: 330px;
    background-image: url("assets/projects/fashion.jpeg");
    z-index: -100;
    box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.3);
}

#earth {
    width: 250px;
    height: 250px;
    background-image: url("assets/projects/earth-cover.jpg");
    z-index: -100;
    box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.3);
}

#timelineSection {
    padding: 100px 0;
}

#project-timeline {
    margin-bottom: 100px;
    opacity: 0;
}

@for $i from 1 through 10 {
    @if $i%2 == 0 {
        #card#{$i} {
            opacity: 0;
        }
    } @else {
        #card#{$i} {
            opacity: 0;
        }
    }
}

#timeline-collapsed {
    display: flex;
    justify-content: space-evenly;
}

#timeline-collapsed section{
    flex: 1;
}

@media (max-width: 1024px) {
    .container {
        width: 80vw;
    }

    #introduction {
        height: 85vh;
    }

    header {
        margin-top: auto;
        height: 20%;
    }

    .overflow {
        overflow-x: visible;
    }
    
    .content {
        width: 80%;
        padding: 20px 20px;
    
        & > div {
            h2 {
                display: inline;
                font-size: 0.7em;
                font-weight: 600;
            }
    
            & h2:last-child {
                color: gray;
                float: right;
                font-weight: 400;
            }
        }
    
        p {
            font-size: 0.7em;
            font-weight: 300;
            padding: 10px;
        }
    
        a {
            font-size: 0.7em;
            opacity: 0.7;
            display: block;
            text-align: right;
            margin: 5px;
    
            &:hover {
                opacity: 1;
            }
        }
    
        ul li {
            font-size: 0.7em;
            padding: 0px 5px;
            display: inline-block;
        }
    }

    .tlCard {
        margin: 20px 0;
        width: 50%;

        &::after {
            width: $bullet-size;
            height: $bullet-size;
            top: 45%;
        }
    }

    .section-header {
        font-size: 0.9rem;
        margin: -30px 0 30px 0;
    }
}

@media (max-width: 600px) {
    $line-height: 30px;
    $line-height-abs: -30px;
    $bullet-size: 10px;

    #home {
        padding: 10px 30px 0 30px;
        height: fill-available;
    }

    .container {
        width: 100vw;
    }

    .year {
        font-size: 4rem;
    }

    .introspacing {
        display: block;
    }

    #introduction {
        height: 80vh;
        width: 100%;
        padding: 0;

        h1 {
            font-size: 4rem;
            line-height: 1em;
        }

        p {
            font-size: 0.8rem;
        }

        div {
            padding: 0;
        }
    }

    header {
        margin-top: auto;
    }

    #logo {
        width: 40px;
        height: 40px;
    }

    nav {
        li {
            padding-left: 5px;
            a {
                font-size: 0.8rem;
            }
        }
    }

    // Scroll
    .scroll-indicator {
        p {
            font-size: 0.8rem;
        }
        .scroll {
            width: 1px;
            height: $line-height;

            .scroll-line {
                background-position: 0 $line-height-abs;
                animation: scrolldown 4s cubic-bezier(0.76, 0, 0.3, 1) forwards infinite;
            }
        }
    }

    .section-header {
        text-align: center;
        font-size: 0.8rem;
        margin: -30px 0 30px 0;
    }

    #timelineSection {
        padding-left: 10px;
    }

    .projectCard {
        text-align: center;
        position: relative;
        opacity: 0;
        transition: transform 3s cubic-bezier(0.23, 1, 0.32, 1), opacity 3s cubic-bezier(0.23, 1, 0.32, 1);
        margin: 50px;  
        h1 {
            font-size: 3rem;
        }
    }

    .content {
        width: 80%;
        padding: 20px 20px;
    
        & > div {
            h2 {
                display: inline;
                font-size: 0.7em;
                font-weight: 600;
            }
    
            & h2:last-child {
                color: gray;
                float: right;
                font-weight: 400;
            }
        }
    
        p {
            font-size: 0.7em;
            font-weight: 300;
            padding: 10px;
        }
    
        a {
            font-size: 0.7em;
            opacity: 0.7;
            display: block;
            text-align: right;
            margin: 5px;
    
            &:hover {
                opacity: 1;
            }
        }
    
        ul li {
            font-size: 0.7em;
            padding: 0px 5px;
            display: inline-block;
        }
    }

    .tlCard {
        margin: 20px 0;
        width: 95%;

        &::after {
            width: $bullet-size;
            height: $bullet-size;
            top: 45%;
        }
    }

    .timeline::after {
        left: 0px;
    }

    .content {
        margin-left: auto;
    }

    .year {
        text-align: left;
        padding-left: 0;
        margin: 20px 0 0 0;
    }

    .left::after,
    .right::after {
        left: -$bullet-size/2;
    }

    .right {
        left: 0%;
    }
}

@keyframes scrolldown {
    0% {
        background-position: 0 $line-height-abs;
    }
    75% {
        background-position: 0 0;
    }
    100% {
        background-position: 0 $line-height;
    }
}

@keyframes wave {
    50% {
        transform: rotate(0);
    }
    51% {
        transform: rotate(-10deg);
    }
    52% {
        transform: rotate(0deg);
    }
    53% {
        transform: rotate(10deg);
    }
    54% {
        transform: rotate(0deg);
    }
}
