@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
@font-face {
  font-family: Butler_Stencil;
  src: url(assets/font/Butler_Stencil_Webfont/ButlerStencil-Bold.woff);
}

@font-face {
  font-family: Butler;
  src: url(assets/font/Butler_Webfont/Butler-Bold.woff);
}

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

ul {
  list-style: none;
}

a {
  color: black;
  text-decoration: none;
}

h1 {
  font-size: 4em;
  font-family: "Butler_Stencil", serif;
}

h2 {
  font-size: 16px;
  font-weight: 500;
}

.transition {
  -webkit-transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
}

.transition2 {
  -webkit-transition: all 1.5s cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 1.5s cubic-bezier(0.23, 1, 0.32, 1);
}

button {
  background-color: black;
  color: white;
  border-radius: 0px;
  width: 180px;
  height: 50px;
  margin: 30px 0;
}

button span {
  margin-left: 5px;
}

button:hover {
  cursor: pointer;
}

button:hover span {
  margin-left: 10px;
}

.border {
  border: 1px solid black;
}

.container {
  width: 1000px;
  margin: 0 auto;
}

#home {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 10%;
  margin-top: auto;
}

#logo {
  background-image: url("assets/logo_v2.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 60px;
  height: 60px;
}

nav {
  margin-left: auto;
}

nav li {
  position: relative;
  display: inline-block;
  padding-left: 15px;
  cursor: pointer;
  overflow: hidden;
}

nav li:hover .base {
  -webkit-transform: translate(0, 100%);
          transform: translate(0, 100%);
}

nav li:hover .default {
  -webkit-transform: translate(0, 100%);
          transform: translate(0, 100%);
}

nav span {
  display: block;
}

.base {
  -webkit-transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
}

.default {
  font-weight: 700;
  position: absolute;
  top: -100%;
  -webkit-transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
}

.hover {
  position: absolute;
  top: 0;
  color: red;
  opacity: 0;
}

#introduction {
  height: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 100px;
}

#introduction h1 {
  font-size: 6em;
}

#introduction p {
  font-weight: 300;
  line-height: 1.5em;
  color: #999;
}

#introduction div {
  margin-top: -100px;
}

#role {
  color: black;
}

#school {
  color: #4b2e83;
}

#bottom {
  position: relative;
  margin-top: auto;
  height: 10%;
  width: 100%;
}

#bottom span {
  font-size: 14px;
}

.scroll-indicator {
  position: absolute;
  left: 0;
  bottom: 0px;
}

.scroll-indicator .scroll {
  width: 2px;
  height: 60px;
  position: relative;
  overflow: hidden;
}

.scroll-indicator .scroll .scroll-line {
  width: 100%;
  height: 100%;
  display: block;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #040f30), color-stop(50%, rgba(4, 15, 48, 0)));
  background: linear-gradient(to bottom, #040f30 50%, rgba(4, 15, 48, 0) 50%);
  background-position: 0 -60px;
  background-size: 100% 200%;
  -webkit-animation: scrolldown 2s cubic-bezier(0.76, 0, 0.3, 1) forwards infinite;
          animation: scrolldown 2s cubic-bezier(0.76, 0, 0.3, 1) forwards infinite;
}

@-webkit-keyframes scrolldown {
  0% {
    background-position: 0 -60px;
  }
  75% {
    background-position: 0 0;
  }
  100% {
    background-position: 0 60px;
  }
}

@keyframes scrolldown {
  0% {
    background-position: 0 -60px;
  }
  75% {
    background-position: 0 0;
  }
  100% {
    background-position: 0 60px;
  }
}

#featured {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.projectCard {
  text-align: center;
  padding: 50px 10px;
  position: relative;
  margin: 10px;
}

.projectCard p {
  margin-top: -10px;
  font-size: 14px;
}

.projectCard .projectImage {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  opacity: 0;
}

.projectCard h1 {
  font-family: "Butler", serif;
  display: inline-block;
  opacity: 0.7;
}

.projectCard h1:hover {
  opacity: 1;
  cursor: pointer;
}

.section-header {
  margin: -30px 0 30px 0;
}

#vocaby {
  width: 200px;
  height: 200px;
  background-size: contain;
  background-image: url("assets/projects/vocaby_logo_large.png");
  z-index: -100;
  -webkit-filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.3));
          filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.3));
}

#refugee {
  width: 300px;
  height: 400px;
  background-image: url("assets/projects/refugees.jpg");
  z-index: -100;
  -webkit-box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.3);
}

#earth {
  width: 400px;
  height: 400px;
  background-image: url("assets/projects/earth-cover.jpg");
  z-index: -100;
  -webkit-box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.3);
}
/*# sourceMappingURL=style.css.map */